

<h2 style="margin-top: 20px; text-align: center">Do your fake payments with us</h2>

<div id="formSubmit" class="invisible">
    <form action="http://dumdumpay.site/secure/" method="POST">
        <input type="text" name="MD" value="testorder-1" />
        <input id="urlHtml" type="text" name="TermUrl" value="http://localhost:17086/Home/OkResult" />
        <input id="paReqHtml" type="text" name="PaReq" value="" />
        <input type="submit" title="Submit" />
    </form>
</div>

<div id="creditCard" class="">
    <div class="input-group mt-4">
        <span class="input-group-text" id="basic-addon1">Order Id</span>
        <input type="text" id="orderId" value="DBB99946-A10A-4D1B-A742-577FA026BC57" class="form-control" placeholder="Order Id" aria-label="Username" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mt-4">
        <span class="input-group-text" id="basic-addon1">Amount</span>
        <input type="text" id="amount" value="12312" class="form-control" placeholder="Amount" aria-label="Amount" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mt-4">
        <span class="input-group-text" id="basic-addon1">Currency</span>
        <input type="text" id="currency" value="USD" class="form-control" placeholder="Currency" aria-label="Currency" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mt-4">
        <span class="input-group-text" id="basic-addon1">Country</span>
        <input type="text" id="country" value="CY" class="form-control" placeholder="Country" aria-label="Country" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mt-4">
        <span class="input-group-text" id="basic-addon1">Card Number</span>
        <input type="text" id="cardNumber" value="4111111111111111" class="form-control" placeholder="Card Number" aria-label="Card Number" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mt-4">
        <span class="input-group-text" id="basic-addon1">Card Holder</span>
        <input type="text" id="cardHolder" value="TEST TESTER" class="form-control" placeholder="Card Holder" aria-label="Card Holder" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mt-4">
        <span class="input-group-text" id="basic-addon1">Card Expiry Date</span>
        <input type="text" id="cardExpiryDate" value="1123" class="form-control" placeholder="Card Expiry Date" aria-label="Card Expiry Date" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mt-4">
        <span class="input-group-text" id="basic-addon1">CVV</span>
        <input type="text" id="cvv" value="111" class="form-control" placeholder="CVV" aria-label="CVV" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mt-4">
        <button id="send" type="submit" class="btn btn-primary mb-3">Send</button>
    </div>
</div>


<!-- Optional JavaScript; choose one of the two! -->
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


